/* Estilo para a barra de navegação */
.navbar {
  padding: 0.5rem 1rem; /* Ajuste o padding conforme necessário */
  background-color: #004085; /* Ajuste a cor de fundo se necessário */
}

/* Estilo para os itens do menu */
.navbar-nav .nav-link {
  font-size: 1.25rem; /* Ajuste o tamanho da fonte conforme necessário */
  padding: 0.5rem 1rem; /* Ajuste o padding para aumentar a área clicável */
  color: #ffffff; /* Cor do texto padrão */
  transition: all 0.3s ease; /* Transição suave para o efeito de hover */
}

/* Efeito de hover para os itens do menu */
.navbar-nav .nav-link:hover {
  color: #ffcc00; /* Cor do texto ao passar o mouse */
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
  border-radius: 0.25rem; /* Bordas arredondadas para o efeito de hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para o efeito de profundidade */
}

/* Estilo para a marca da barra de navegação */
.navbar-brand {
  font-size: 1.5rem; /* Ajuste o tamanho da fonte da marca */
  color: #ffffff; /* Cor da marca */
}

/* Estilo para o botão de agendamento */
.btn-light {
  font-size: 1.25rem; /* Ajuste o tamanho da fonte do botão */
  padding: 0.5rem 1rem; /* Ajuste o padding do botão */
  color: #004085; /* Cor do texto do botão */
  background-color: #ffffff; /* Cor de fundo do botão */
  border: 2px solid #004085; /* Borda do botão */
  transition: all 0.3s ease; /* Transição suave para o efeito de hover */
}

/* Efeito de hover para o botão de agendamento */
.btn-light:hover {
  color: #ffffff; /* Cor do texto ao passar o mouse */
  background-color: #004085; /* Cor de fundo ao passar o mouse */
  border-color: #004085; /* Cor da borda ao passar o mouse */
}
