/* Services Section */
.services-section .card {
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
}
.services-section .card-img-top {
  height: 200px;
  object-fit: cover;
}

/* Ajusta o espaçamento do conteúdo principal */
.main-content {
  padding-top: 20px; /* Adiciona espaço acima do conteúdo para não ficar colado ao menu */
  padding-bottom: 20px; /* Adiciona espaço abaixo do conteúdo para não ficar colado ao footer */
  min-height: calc(100vh - 120px - 40px); /* Garante que o conteúdo ocupe o espaço suficiente para empurrar o footer para baixo */
}
