<!-- Adiciona a classe main-content ao container principal -->
<div class="main-content">
  <!-- Tela de Convênios -->
  <h2 class="text-center mb-4">Convênios</h2>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3 mb-4">
        <div class="card convenio-card">
          <div class="card-body">
            Assim
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card convenio-card">
          <div class="card-body">
            Correios
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card convenio-card">
          <div class="card-body">
            Unimed
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card convenio-card">
          <div class="card-body">
            Porto Seguro
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card convenio-card">
          <div class="card-body">
            Amil
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card convenio-card">
          <div class="card-body">
            Golden Cross
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

